.margin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}



a {
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

input[type=text]{
  border-radius:20px;
}

