<div class="wrapper fadeInDown">
  <div id="formContent">



        <form [formGroup]="Login" (ngSubmit)="ProceedLogin()">


          <div class="row" style="display: block;">
            <h2 style="text-align: center;">Connexion</h2>
          </div>

          <input type="text" id="login" class="form-control fadeIn first" formControlName="email" placeholder="Email" autocomplete="off"/>
          <input type="password" id="password" class="form-control fadeIn second" formControlName="pswd" placeholder="Mot de passe" autocomplete="off"/>
          <button type="submit" class="btn btn-primary btn-lg btn-block fadeIn third">Se connecter</button>
          <div class="col-lg-3 error">
            <br>
            <span></span>
            <h5 style="color:red">{{message}}</h5>
          </div>

        </form>


    </div>
  </div>

