<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-2 p-0 m-0 d-none d-lg-block">
      <app-profile></app-profile>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 p-0 m-0">


      <app-navbar></app-navbar>
      <div  *ngIf="role === 'enseignant'"><app-list-etudiant></app-list-etudiant></div> -->

      <!-- <app-calendar></app-calendar> -->
      <!-- <div  *ngIf="role === 'etudiant'"><app-matiere></app-matiere></div>
      <div  *ngIf="role === 'etudiant'"> <app-assiduite></app-assiduite></div>

    </div>
  </div>
</div> -->


 <!-- <app-calendar></app-calendar> -->

<!-- Toolbar -->
<router-outlet>
  


</router-outlet>