<div class="container-fluid">
    <div class="row">
      <div class="col-2 p-0 m-0 d-none d-lg-block">
        <app-profile></app-profile>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 p-0 m-0">


        <app-navbar></app-navbar>

<app-selectionneur-seance *ngIf="option === 'seance'" ></app-selectionneur-seance>
        <app-list-etudiant *ngIf="option === 'absence'"></app-list-etudiant>


        <!-- <app-calendar></app-calendar> -->
        <!-- <div  ><app-matiere></app-matiere></div>
        <div > <app-assiduite></app-assiduite></div>
   -->
      </div>
    </div>
  </div>


   <!-- <app-calendar></app-calendar> -->
